// Source: http://paletton.com/#uid=52w0u0kjRqZ9WH9ffvzodnorYis
$color-primary: #8bc34a;
$color-primary-dark: #6EA929;
$color-primary-darker: #4F8511;
$color-primary-light: #B1E477;
$color-primary-lighter: #CEF0A6;

$color-secondary: #212121;
$color-secondary-light: #5D5D5D;
$color-secondary-lighter: #909090;

$white: #DDDDDD;
$black: #171717;